/* FOR Register/Login */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif
}

.containerUser {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background-color: #f7f7f7; */
  background-color: #998484;
}

.wrapperUser {
  background-color: rgb(226, 217, 217);
  width: 450px;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5)
              
}

/* Signup From CSS Code */
.formUser{
  padding: 25px 30px;
}

.formUser header{
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}

.formUser form{
  margin: 20px 0;
}

.formUser form .error-txt{
  color:#721c24;
  background-color: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
}

.formUser form .name-details{
  display: flex;
}

form .name-details .field:first-child {
  margin-right: 10px;
}

form .name-details .field:last-child {
  margin-left: 10px;
}

.formUser form .field{
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.formUser form .field label {
  margin-bottom: 2px;
}

.formUser form .field input{
  outline: none;
}

.formUser form .input input{
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formUser form .field .eye{
  position: absolute;
  right: 15px;
  color: #ccc;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
}

.formUser form .image input {
  font-size: 17px;
  /* cursor: pointer; */
}

.formUser form .button1 input {
/* .button1 {   */
  margin-top: 13px;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: 400;
  background: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.formUser .link {
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}

.formUser .link a{
  color: #333;
}

.formUser .link a:hover {
  text-decoration: underline;
}

/* User Area CSS */
.users{
  padding: 25px 30px;
}

.users header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.center {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.btstyle {
  background-color: #f8efe4;
  transition-duration: 0.4s;
  border-radius: 8px;
  padding: 14px 40px;
}
/* .wrapper img {
  
} */

@media only screen and (max-width: 380px) {
  /*for mobile phones */
  /*Below not applicable as im using React Bootstrap grid */
  /* [class*="col-"] {
    width: 100%;
  } */
  .mobile {
    width: 100%;
  }
}